form{
    width: 40%;
    /* width: 600px; */
    /* height: 98%; */
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    /* justify-content: space-between; */
    padding:25px ;
}

.name{
    display: flex;
    column-gap: 20px;
}

.firstname , .lastname{
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

label{
    color: hsl(187, 24%, 22%);
    font-size: 15px;
    font-weight: 600;
}


.star{
    color:hsl(169, 82%, 27%) ;
    font-size: 20px;
    font-weight: 600;
}

input{
    height: 40px;
    border-radius: 10px;
    padding-left: 25px;
    border: solid 1px hsl(186, 15%, 59%) ;
}

input:hover{
    cursor: pointer;
    border: solid 2px hsl(169, 82%, 27%) ;
}

.email{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.queryType{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.types{
    display: flex;
    column-gap: 20px;
}

.typeone , .typetwo{
    width: 50%;
    display: flex;
    align-items: center;
    column-gap: 20px;
    height: 40px;
    border-radius: 10px;
    border: solid 1px hsl(186, 15%, 59%) ;
    padding-left: 25px;
}

.typeone:hover{
    cursor: pointer;
    border: solid 2px hsl(169, 82%, 27%) ;
    background-color: hsl(148, 38%, 91%) ;
}

.typetwo:hover{
    cursor: pointer;
    border: solid 2px hsl(169, 82%, 27%) ;
    background-color: hsl(148, 38%, 91%) ;
}

.typeone > input, .typetwo >input{
    width: 20px;
    color:hsl(169, 82%, 27%) ;
}

.typeone > label, .typetwo >label{
    font-size: 15px;
    color:hsl(169, 82%, 27%) ;
}


.message{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.message>textarea{
    height: 75px;
    border-radius: 10px;
    border: solid 1px hsl(186, 15%, 59%) ;
    padding: 15px 15px 15px 25px;
    font-size: 14px;
    color:hsl(187, 24%, 22%);
}

.rules{
    display: flex;
    align-items: center;
    column-gap: 15px;
}

  

.rules>input[type="checkbox"]{
    width: 17px;
    accent-color: hsl(169, 82%, 27%);
}

.submitBtn{
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color:hsl(169, 82%, 27%) ;
    color: white;
    font-size: 22px;
    font-weight: 500;
}

.submitBtn:hover{
    cursor: pointer;
    background-color:hsl(169, 84%, 20%)  ;
}


@media only screen and (max-width:1024px){
    .typeone > label, .typetwo >label{
        font-size: 12px;
    }
}

@media only screen and (max-width:768px){
    form{
        width: 80%;
    }
    .name{
        flex-direction: column;
    }
    .firstname ,.lastname{
        width: 100%;
    }

    .types{
        flex-direction: column;
        row-gap: 12px;
    }

    .typeone ,.typetwo{
        width: 100%;
    }

    .message>textarea{
        height: 160px;
        padding: 10px;
    }

    .submitBtn{
        height: 50px;
    }
}
